{% extends 'base.html' %}

{% load static %}

{% block title %}&mu;Care{% endblock %}

{% block navLinks %}
    <li><a href="{% url 'interface:index' %}">Visão Geral</a></li>
    <li><a href="{% url 'interface:locate' %}">Localizar Equipamento</a></li>
    <li><a href="{% url 'interface:look' %}">Consultar Equipamentos</a></li>
    <li><a href="{% url 'interface:manage' %}">Gerenciar</a></li>
    <li><a href="{% url 'interface:exit' %}">Sair</a></li>
{% endblock %}
{% block navLinksMobile %}
    <li><a href="{% url 'interface:index' %}">Visão Geral</a></li>
    <li><a href="{% url 'interface:locate' %}">Localizar Equipamento</a></li>
    <li><a href="{% url 'interface:look' %}">Consultar Equipamentos</a></li>
    <li><a href="{% url 'interface:manage' %}">Gerenciar</a></li>
    <li><a href="{% url 'interface:exit' %}">Sair</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col s2 z-depth-0 card-panel">
	</div>
    <div class="col s8 z-depth-0 card-panel">
        <div class="card">
            <div class="card-content">
                <div style="height:48px">
                    <span style="display:inline-block;" class="card-title">Adicionar Equipamento</span>                    
                </div>
				<div class="row">
					<form action="/interface/manage" method="get">
						<div class=" input-field col s8">
                            <i class="material-icons prefix">info</i>
							<label  for="name">Nome</label>
							<input  placeholder="Nome do equipamento" id="name" type="text" name="name">
						</div>
						<div class=" input-field col s8">
                            <i class="material-icons prefix">category</i>
							<label  for="category">Categoria</label>
							<input  placeholder="Categoria do equipamento" id="category" type="text" name="category">
						</div>
						<div class=" input-field col s8">
                            <i class="material-icons prefix">wifi_tethering</i>
							<label  for="mac">Identificador</label>
							<input  placeholder="Endereço MAC do beacon" id="mac" type="text" name="mac">
						</div>
						<div class="input-field col s4">
							<button class="red btn waves-effect waves-light" type="submit" value="submit">Adicionar
							<i class="material-icons right">add</i>
							</button>
						</div>
						</form> 
                    </div>
				</div>
			</div>
        </div>
    </div>
</div>

{% endblock %}